<section class="hero">
  <div class="container hero-container">
    <div class="hero-container-text">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list-btn">
        <li class="hero-btn-item">
          <button type="button" class="hero-btn">Get started</button>
        </li>
        <li class="hero-btn-item">
          <div class="hero-btn-container">
            <svg class="icon-play" width="20" height="18.02">
              <use href="./images/icons.svg#icon-play"></use>
            </svg>
            <button type="button" class="hero-btn-watch">
              Watch the Video
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero-img-container">
      <svg class="hero-img" width="610" height="555">
        <use href="./images/icons.svg#icon-hero-img"></use>
      </svg>
    </div>
  </div>
</section>
